<!--
 * @Author: Xinyi Zhu
 * @Date: 2020-04-29 16:04:16
 * @Email: zhuxinyishcn@outlook.com
 * @GitHub: https://github.com/zhuxinyishcn
 * @Description: file info
 * @LastEditors: Xinyi Zhu
 * @LastEditTime: 2020-05-07 17:44:17
 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Rouge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #d98695">
      <img
        src="https://images.unsplash.com/photo-1587145820137-a9dbc8c5ed99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
        width="43"
        height="43"
        class="d-inline-block align-top"
        title="Rouge"
        alt="Failed loading Picture...Rouge"
      />
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: white"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown" th:if="${session.userInfo!=null}">
            <a
              aria-expanded="false"
              aria-haspopup="true"
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              id="navbarDropdown"
              role="button"
              style="color: white"
              th:text="${session.userInfo.getName()}"
            >
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Notification</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
          <li class="nav-item" th:if="${session.userInfo==null}">
            <a
              class="nav-link"
              href="https://github.com/login/oauth/authorize?client_id=2697703126ad99441817&redirect_uri=http://localhost:8887/callback&scope=user&state=39aa7806"
              style="color: white"
              >Login</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search Anything..."
            aria-label="Search"
          />
          <button type="button" class="btn btn-light" style="color: #d98695">
            Search
          </button>
        </form>
      </div>
    </nav>
  </body>
</html>
